/* Estilo geral*/
*{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.main-footer{
  position: fixed;
 display: flex;
 justify-content:center;
 width: 100%px;
 bottom: 0%;
 background-color: #000000;
 left: 41%;
}


.main-footer .actions{
  margin-left: 20px;
  margin-right: 20px;
}

.main-footer .actions img{
  width: 40px;
}
  
  
  /* Estilo na tela */

.flex{
  display: flex;
}

header{
  padding: 40px 4%;     
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img{ 
  position: relative;
  width: 80px;
  right: 1px;
  top: -0px;
}

.logo{
  position: relative;
  right: 8px;
}

.icones-home{
display: flex;
text-align: center;
justify-content: space-around;
padding-left: 30%;
padding-right: 30%;
transform: translateY(0%);
}
.icon1{
 left: 16%;
}

.icon2{
  left: 21%;
  top: -87px;
 }

 .icon3{
  left: 26%;
  top: -172px;
 }

 .icon4{
  left: 31%;
  top: -260px;
 }

header a{
  color: #fcf8f8;
  text-decoration: none;
}

header .menu-desktop ul li a:active{
  color: orange;
}

header .menu-desktop a:hover{
  color: orange;
  transform: scale(1.05);
}


header nav.menu-desktop ul{
 list-style-type: none;
}

header nav.menu-desktop ul li{
  display: inline-block;
  padding: 0 40px;
}

.active{
  color: orange;
}


.btn-contato{
  position: relative;  
  right: 1.6%;
  top: -10px;
}

header .btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600px;
  background-color: orange;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

a:active{
  text-decoration: none;
  color: orange;
}

.abrir-menu {
  display: none;
}



/* ESTILO MENU MOBILE */

.abrir-menu i{
  color: orange;
  position: relative;
  left: 105%;
  top: -55px;
  font-size: 50px;
}

.menu-mobile{
  background-color:black;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 99999;
  width:0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.abrir-menu{
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile .btn-fechar{
position: relative;
  color: orange;
  padding: 5px;
  right: 100%;
  top: 8%;
}

.menu-mobile nav ul{
  text-align: right;
}


.menu-mobile nav ul li a{
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: orange;
  color: black
}

.overlay-menu{
  background-color:#05050595;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}



section.topo {
  padding: -10px 4%;
}

section.topo .flex{
  align-items: center;
  gap: 90px;
}

.text-topo{
  color: #fcf8f8;
  font-size: 40px;  
}
  
.text-topo h3 span{
 color: orange;
 font-size: 35px;
}

.text-topo h3{
  font-size: 35px;
}

.text-topo p{
  font-size: 20px;
}


.img-topo {
  right: 1000px; float: left;
}

.fundo-animado {
  width: 380px;
  height: 350px;
  right: 2%;
}

.img-topo .fundo-animado {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
  0% {
    top: 0;
  }
100%{
  top: 30px;
}

}

@media screen and (max-width: 1020px){

  .menu-desktop, .btn-contato{
    display: none;
  }

  body {
    position: fixed;
    background-color: black;
    overflow: hidden;
  }


.abrir-menu{
  display: block;
  width: 90%;
}

header{
    padding: 58px;   
    
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.fundo-animado{
    position: relative;
    padding: 10px;
    transform: translateY(10%);
}

img{ 
    width: 50px;
    right: 48px;
    top: -55px;
}

.flex{
    flex-direction: column-reverse;
}

.text-topo{
transform: translate(2%,15%);
}

.text-topo h3{
    position: relative;
    font-size: 30px;
    transform: translateY(-640%);
}

.text-topo h3 span{
    color: orange;
    font-size: 35px;
    line-height: 35px;
}
   

.text-topo h5{
    position: relative;
    font-size: 30px;
    transform: translateY(-1300%);
}

.text-topo h6{
    position: relative;
    font-size: 20px;
    transform: translateY(-1950%);
}

.text-topo p{
  display: none;
}

.icones-home{
  display: none;
}

.img-formação img{
  left: 0;
  transform: translateY(-12%);
  height: 20px;
}

.img-profissional img{
left: 0%;
transform: translateY(-12%);
}


.formulario{
  position: relative;
  display: flex;
  transform: translate(-0%, 5%);
  width: 100vw;
}

.redes{
display: flex;
position: relative;
left: 17%;
z-index: 40;
}

.redes a img{
  transform: translateY(50%);
}

.github{
  display: flex;
  top: -70%;
}

.insta{
  display: flex;
  top: -60%;
}

.aviao{
  display: flex;
  position: relative;
  left: 50%;
  top: 50%;
}
.aviao img{
  position: relative;
  display: flex;
  transform: translate(20%, 60%);
}

.texto-mobile h3{
  position: relative;
  display: flex;
  justify-content: center;
  color: #fcf8f8;
  font-size: 35px;
  right: -0%;
  top: -740px;
  padding: 50%;}

.texto-mobile h3 span{
  color: orange;
position: relative;
right: -5%;
}

.main-footer{
  position: fixed;
  display: flex;
  justify-content:center;
  width: 100%px;
  bottom: 0%;
  background-color: #000000;
  left: 21%;
  top: 100%;
  }

.text-topo5 {
  display: flex;
  text-align: center;
}

.text-topo5 h5{
  display: flex;
  transform: translateY(-120%)
}

.text-topo5 h5 span{
  position: relative;
  right: -2%;
}


.icones-home{
 position: relative;
 top: 5%;
 right: -5%;
}


.fotos img{
  margin: 0 auto;
  display: flex;
  top: -20%;
  width: 95%;
  left: 0%;
  right: 0%;
}

h1{
  display: flex;
  width: 100vw;
  transform: translateX(-1%);
  font-size: 30px;
}

/*pagina de mensagem*/
 
}

h1 span{
  color: orange;
transform: translateX(5%);
justify-content: center;}

#removeAll{
  display: flex;
  background-color: orange;
  border-radius: 99px;
  cursor: pointer;
  border: none;
  padding: 10px 2%;   
  font-size: 15px;
  align-items: center;
}

.back{
 display: flex;
 background-color: orange;
 color: black;
 text-decoration: none;
 border-radius: 99px;
 border: none;
 cursor: pointer;
 padding: 10px 2%;
 font-size: 15px;
 transform: translateY(-10%);
}

#messagesList{
  display: flex; 
  color: #fcf8f8;
  flex-direction: column;
  overflow-wrap: break-word;
  text-align: center;
}

.abrir-menu i{
  display: block;
}


/* Formação */ 

.img-formação{
  display: flex;
  justify-content: center;
width: 100%;
height: 100%;
}
  
  .img-formação img{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 557px;
    top: -70px;
  }
  

 /* Contato */

.text-topo4 h5{
  display: flex;
  justify-content: center;
  color: #fcf8f8;
  font-size: 40px;
  transform: translate(0%, -720%); 
}

 .container{
  display: flex;
  justify-content: center;
  transform: translate(0, 25%);
}

.text-topo4 h5 span{
  color: orange;
  font-size: 40px;
}

form{
 max-width: 30rem;
}

 input,
 textarea{
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
 }

 input,
 textarea{
  margin-bottom: 1rem;
  color: #fdfdfd;
  border: 1% solid transparent ;
  background:black;
  border-radius: 1.125rem;
  transition: border-color 0.3s;
  box-shadow: 0.3s;
 }

 .field:hover{
  outline: none;
  border-color: orange;
  box-shadow: 0 0 0 0 .3125rem orange;
 }

 .field:focus{
  outline: none;
  border-color: orange;
  box-shadow: 0 0 0 0 .3125rem orange;
 }

 .botao{
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
  border: none;
  border-radius: 99px;
  color: #fcf8f8;
  background: orange;
  cursor: pointer;
  transition: 0.3s;
 }

 .botao:hover {
  outline: none;
  background: rgb(255, 128, 0);
 }

 .aviao{
  position: absolute;
  transform: translate(340%, 250%); 
}

.redes{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  transform: translate(0%, -485%);
}

.insta{
  width: 45px;
  transform: translateY(20%);
}

.whats{
 width: 60px;
 transform: translatey(2%);
}

.linkedin{
width: 60px;
transform: translateY(5%);
}

.github{
  width: 50px;
  transform: translateY(10%);
}

/* Atuação profissional */

.img-profissional{
  display: flex;
  justify-content: center;
}

.img-profissional img{
  display: flex;
    justify-content: center;
    width: 620px;
    height: 557px;
    top: -70px;
}

/*PORTFÓLIO*/

.text-topo5{
  display: flex;
  justify-content: center;
  transform: translateY(-80%);
}

.text-topo5 h5{
  color: #fcf8f8;
  font-size: 40px;
}

.text-topo5 h5 span{
  color: orange;
}

.fotos{
  position: relative;
  width: 550px;
  height: 420px;
  margin: 0 auto;
}


.imagem1, .imagem2{
  position: absolute;
 top: -10%;
 left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.imagem1{
  animation: fadeInOut 4s infinite;
}

.imagem2{
  animation: fadeIn 4s infinite;
}


@keyframes fadeInOut {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}


/*Mensagens*/

h1{
  display: flex;
  color: #fcf8f8;
justify-content: center;
}

h1 span{
  display: flex;
  color: orange;
transform: translateX(5%);
justify-content: center;}

#removeAll{
  display: flex;
  justify-content: center;
  background-color: orange;
  border-radius: 99px;
  cursor: pointer;
  border: none;
  padding: 10px 2%;   
  margin: 0 auto;  
  font-size: 15px;
  transform: translateY(30%);
}

a{
  text-decoration: none;
}

.back{
 display: flex;
background-color: orange;
 color: black;
 text-decoration: none;
 border-radius: 99px;
 border: none;
 cursor: pointer;
 padding: 10px 2%;
 font-size: 15px;
 margin: auto;
 transform: translateY(40%);
}
#messagesList{
  display: flex;
  justify-content: center;
  color: #fcf8f8;
  max-width: 1280px;
  margin: 0 auto;
  padding: 5%;
}


